@media print {
    pre {page-break-before: avoid;}
    body{page-break-after: always;}
}

@media
only screen and (max-width: 468px),
(min-device-width: 468px) and (max-device-width: 768px) {

    body {
        height: device-height;
        width: device-width;
        initial-scale: 1;
        user-scalable: no;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }
}

body {
    font: normal 17px Arial, serif;
    background-image: url("https://cdn.wallpapersafari.com/16/31/B6WRom.jpg");
    background-repeat: repeat-y;
}

.navi {
    text-decoration: underline;
}

div.intro {
    text-align: center;
    font-variant: small-caps;
    text-decoration: overline;
    margin: 25px 25px 25px 25px;
    orphans: 2;
    widows: 2;
}

pre {
    text-align: left;
    text-indent: 20px;
    text-transform: capitalize;
    font-size: 10px;
}

p.notable {
    font-style: oblique;
    font-family: Times New Roman, sans-serif;
    font-weight: 1000;
    margin-top: 20px;
    margin-right: 30px;
}

table, th, td {
    border: 3px groove black;
    border-collapse: separate;
    border-spacing: 0.02px;
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 20px;
    caption-side: top;
    overflow-x: auto;
    overflow-y: auto;
    background: inherit;
}

ul {
    list-style: square outside;
    vertical-align: baseline;
    list-style-image: url("http://pixeljoint.com/pixels/images/smile/pie/clap.gif")
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

tr:hover {
    background-color: lightgray;
}

.notable {
    display: inline-block;
    float: left;
    columns: 300px;
    margin-left: 30px;
}

#recipes {
    font-size: 24px;
}

input:focus {
    border-color: red;
    border-style: dotted;
    border-width: 2px;
    background: inherit;
}

a:link {
    color: red;
}

a:active {
    color: black;
}

a:visited {
    color: blue;
}

#grace {
    color: red;
}

#enrico {
    color: goldenrod;
}

#otto {
    color: orange;
}
